.container-1 {
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background: gainsboro;
}

 ::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 1rem;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #6366ff;
}

.routes {
    color: black;
    height: auto;
    margin-top: 5rem;
    padding: 1rem 1.2rem;
}

.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky !important;
    padding: 20px;
    border-right: 1px solid;
    width: 250px;
    margin-top: 5rem;
    overflow-y: scroll;
}